.sidebar {
  width: 20%;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 20px;
        color: #6e5f5a;
        font-family: serif;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        color:#6e5f5a;
      }
    }
  }
}
